*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heading{
    text-align: center;
    font-size: 1.25rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

.form-container{
    height: auto;
    width: 96vw;
    background-color: #7a4a4a11;
    background-size: cover;
    background-position: center;
    margin: auto;
    padding: 0.5rem;
    border-radius: 0.75rem;
    text-align: center;
    box-shadow: 0 20px 20px #43171791;
}

.form{
    height: 99vh;
    width: 98%;
    margin: 0.25rem;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.75rem;
}

.inp{
    height: 8vh;
    width: 100%;
    border-radius: 8px;
    border-left: 4px solid #700000bc;
    border-bottom: 4px solid #700000bc;
    background: #9475755a;
    padding: 4px;
    margin-top: 0.5rem;
}

label{
    display: block;
    font-weight: bold;
    text-align: left;
    margin-top: 0.5rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    text-align: start;
    font-size: 1rem;
}

.msg-text{
    height: 20%;
    width: 99%;
    background: #9475755a;
    border-bottom: 4px solid #700000bc;
    border-left: 4px solid #700000bc;
    border-right: 4px solid #700000bc;
    border-radius: 8px;
    padding: 8px;
    margin-top: 0.5rem;
}

.btn{
    height: 25%;
    width: 35%;
    background: #854f4fc9;
    padding: 0.35rem;
    margin-top: 0.5rem;
    text-align: center;
}


.spinner{
    position: relative;
}

.ring{
    height: 2%;
    width: 2%;
    position: absolute;
    border-bottom: 2px solid salmon;
}

@media (max-width: 640px) {
    .image .img-quote{
        display: none;
    }

    .btn{
        height: 28%;
        width: 45%;
    }

    .btn .submit-text{
        font-size: 0.75rem;
    }
}
@media(min-width: 641px) and (max-width: 1024px){
    .form-container{
        height: auto;
        width: 58vw;
        background-size: cover;
        background-position: center;
        margin: auto;
        padding: 0.5rem;
        border-radius: 0.75rem;
        text-align: center;
    }
    
    
    .form{
        height: 99%;
        width: 98%;
        margin: 0.25rem;
        -webkit-backdrop-filter: blur(5px);
        backdrop-filter: blur(4px);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 0.75rem;
    }
    
    .inp{
        height: 8vh;
        width: 100%;
        border-radius: 8px;
        border-left: 4px solid #700000bc;
        border-bottom: 4px solid #700000bc;
        background: #9475755a;
        padding: 4px;
        margin-top: 0.5rem;
    }
    .image{
        display: none;
    }
    label{
        display: block;
        font-weight: bold;
        text-align: left;
        margin-top: 0.5rem;
    }
    
    form{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        text-align: start;
        font-size: 1rem;
    }
    
    .msg-text{
        height: 20%;
        width: 99%;
        background: #9475755a;
        border-bottom: 4px solid #700000bc;
        border-left: 4px solid #700000bc;
        border-right: 4px solid #700000bc;
        border-radius: 8px;
        padding: 8px;
        margin-top: 0.5rem;
    }
    
    .btn{
        height: 25%;
        width: 35%;
        background: rgb(161, 133, 133);
        padding: 0.35rem;
        margin-top: 0.75rem;
        text-align: center;
    }
}

@media(min-width: 1025px) and (max-width: 2561px){
    .form-container{
        height: 85vh;
        width: 96vw;
        background-image: none;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        border-radius: 0;
    }
    .form-wrapper{
        height: auto;
        width: 96vw;
        margin: auto;
    }
    .form{
        height: 100%;
        width: 50%;
        background-color: rgba(64, 8, 11, 0.3);
        padding: 0.25rem;
    }
    .image{
        height: 100%;
        width: 50%;
        border-radius: 0.75rem;
        background: white;
        background-image: url("bg03.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .inp{
        height: 6vh;
        width: 100%;
        border-radius: 8px;
        border-left: 4px solid #700000bc;
        border-bottom: 4px solid #700000bc;
        background: #9475755a;
        padding: 6px;
        margin-top: 1rem;
    }
    
    label{
        display: block;
        font-weight: bold;
        text-align: left;
        margin-top: 0.75rem;
    }
    
    form{
        height: 98%;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
        text-align: start;
        font-size: 1.75rem;
    }
    
    .msg-text{
        height: 20%;
        width: 99%;
        background: #9475755a;
        border-bottom: 4px solid #700000bc;
        border-left: 4px solid #700000bc;
        border-right: 4px solid #700000bc;
        border-radius: 8px;
        padding: 8px;
        margin-top: 0.75rem;
    }
    
    .btn{
        height: 5rem;
        width: 35%;
        background: rgb(161, 133, 133);
        gap: 0.5rem;
        padding: 0.25rem;
        margin-top: 2rem;
        text-align: center;
    }
    .img-quote{
        height: auto;
        width: 70%;
        font-size: 2.5rem;
        font-family: cursive;
        background: #ca636343;
    }
}

.btn .spinner{
    height: 1.5rem;
    width: 1.5rem;
    background: transparent;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn .ring{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 5px solid;
}
.spinner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
.btn:hover{
    background: #7d5858c9;
    color: white;
    transform: all 0.3s ease;
}
.submit-text{
    font-size: 1rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}


@keyframes grow {
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

.btn .spinner{
    animation: grow 0.4s ease;
}