.foot{
    height: 13rem;
    width: 100vw;
    background-color: rgba(64, 8, 11, 0.3);
    /* background: #000; */
    position: static;
    bottom: 0;
    color: white;
    text-align: center;
    padding: 5px;
    text-align: center;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0.25rem;
}

.footer-top{
    height: 1rem;
    width: 50vw;
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.footer-top:hover{
    cursor: pointer;
}

.linkers{
    height: 16px;
    width: 56px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    font-size: 0.5rem;
    gap: 2px;
    font-size: 1.5rem;
}


@media (max-width: 640px){
    .foot{
        height: 12rem;
        margin-bottom: 0;
    }
    .footer{
        font-size: 0.75rem;
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .linkers{
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .link-socials{
        cursor: pointer;
    }
    .copy{
        margin-top: 0.5rem;
        text-align: center;
    }
    .p-comm{
        font-size: 0.75rem;
    }
    .p-ico{
        font-size: 1.5rem;
    }
}

@media(min-width: 641px) and (max-width: 1024px){
    .footer{
        font-size: 1rem;
        margin-top: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .linkers{
        margin-top: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .link-socials{
        cursor: pointer;
    }
    .copy{
        margin-top: 0.5rem;
        text-align: center;
    }
    .p-comm{
        font-size: 0.75rem;
    }
    .p-ico{
        font-size: 1.5rem;
    }
}

@media(min-width: 1025px) and (max-width: 2561px){
    .foot{
        height: 12rem;
        overflow-y: hidden;
    }
    .footer{
        font-size: 1rem;
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .linkers{
        margin-top: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        margin-top: 0.25;
    }
    .foot-1{
        margin-top: 0.25rem;
    }
    .link-socials{
        cursor: pointer;
        margin-top: 0.25rem;
        font-size: 1.5rem;
    }
    .copy{
        margin-top: 0.25rem;
        text-align: center;
        /* margin-bottom: 1.25rem; */
    }
    .p-comm{
        font-size: 0.5rem;
        margin-top: 0.25rem;
        cursor: auto;
    }
    .p-ico{
        font-size: 1.75rem;
        /* margin-bottom: 0.75rem; */
        margin-top: 0.25rem;
    }

    .footer-top:hover{
        transform: none;
    }
    .link-socials:hover{
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
    }
}