*{
    margin: 0;
    padding: 0;
    color: black;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
}

.header-container{
    height: 2rem;
    width: 75vw;
    padding: 0.25rem;
    margin-bottom: 2rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header{
    text-align: center;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.container-img{
    height: 50dvh;
    width: 96dvw;
    margin-left: 1dvh;
    max-width: 900px;
    border-bottom-left-radius: 4rem;
    border-bottom-right-radius: 4rem;
    background-image: url('profile.jpg');
    background-size: cover;
    background-position: center;
    margin-bottom: 2px;
}

.introduction{
    padding: min(2rem,8%);
    margin-bottom: 2px;
}

@media (max-width: 640px){
    .container-img{
        height: 50vh;
        width: 96vw;
        margin: 0 auto;
        border-radius: 4rem;
        /* border-bottom-left-radius: 4rem; */
        /* border-bottom-right-radius: 4rem; */
        max-width: 325px;
        background-image: url('profile.jpg');
        /* background-size: cover; */
    }
    
    .introduction{
        padding: min(2rem,8%);
    }
    .links-social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-bottom: 2rem;
        margin-top: 2px;
    }
}

@media(min-width: 641px) and (max-width: 1024px){
    .wrapper{
        height: 98vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font: 1em sans-serif;
    }

    .container-img{
        height: 290px;
        width: 290px;
        margin-top: 1.5rem;
        border-radius: 50%;
        background-size: cover;
        object-fit: scale-down;
        margin-bottom: 8px;
    }
    .introduction{
        padding: auto;
        height: auto;
        width: 95vw;
        text-align: center;
        background: rgba(64, 8, 11, 0.1);
        margin-bottom: 8px;
    }
    .links-social{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 8px;
        margin-bottom: 2rem;
    }
    .link-social{
        font-size: 3rem;
    }
}

@media(min-width: 1025px) and (max-width: 2561px){
    .wrapper{
        height: 98vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: clamp(0.25rem,calc(1vw-1rem),5rem);
        padding: 0.75rem;
    }
    
    .container-img{
        height: 68vh;
        width: 20vw;
        margin-top: 1rem;
        border-radius: 15rem;
        background-size: cover;
    }
    .introduction{
        padding: auto;
        height: 68vh;
        width: 55vw;
        text-align: center;
        font-size: 1.25rem !important;
        /* background: #000; */
        /* background: linear-gradient(
                to right,
                rgba(64, 8, 11, 0.05)0%,
                rgba(64, 8, 11, 0.4)30%,
                rgba(64, 8, 11, 0.7)70%,
                rgba(64, 8, 11, 1)100%
                    ); */
        background: rgba(64, 8, 11, 0.3);
        box-shadow: 0 20px 20px #43171791;
    }
    .links-social{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 68vh;
        width: 5vw;
        font-size: 1rem;
    }
    .link-social{
        font-size: 3.5rem;
    }
    .link-social:hover{
        transform: scale(1.2);
        transition: transform 0.3s ease-in-out;
        cursor: pointer;
    }
}

.wrapper{
    animation: fadeIn 3s ease-in;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}