@import "tailwindcss";

body{
    background: #F1E7E7;
    /* background: radial-gradient(circle, rgba(64, 18, 18, 1) 0%, rgba(100, 24, 24, 1) 50%, rgba(34, 6, 6, 1) 100%); */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

